html {
    font-size: 16px;
    font-family: "utopia-std", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(245, 243, 235);
}

h1 {
    font-size: 36px;
    font-family: "utopia-std-display", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1.2rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    font-family: "utopia-std-display", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}

ul {
    padding: 0;
    margin: 0;
    line-height: 1.6rem;
    list-style: none;
    text-align: left;
    font-size: 1rem;
}

li {
    display: list-item;
    text-align: match-parent;
}

a {
    text-decoration: none;
    color: #185a9c;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

#center {
    max-width: 900px;
    margin: 0 auto;
}

#sidebar {
    width: fit-content;
    min-width: 120px;
    flex-shrink: 0;
}

#coverphoto {
    display: block;
    width: 200px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#content {
    width: 100%;
}

#gallery {
    padding-top: 0.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    margin-top: 0.3rem;
}

.copyright {
    font-size: 0.5rem;
}

.linknostyle {
    text-decoration: none;
    color: inherit;
}

.linknostyle:hover {
    text-decoration: none;
    color: inherit;
}

.photo {
    display: block;
    height: 160px;
}

@media (max-width: 600pt) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
        margin: 0;
        line-height: 1.6rem;
        list-style: none;
        text-align: left;
    }

    #biglinks {
        width: fit-content;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
        margin: 0 auto;
        line-height: 22px;
        list-style: none;
        text-align: left;
    }

    li {
        width: fit-content;
    }

    #coverphoto {
        display: none;
    }

    h1 {
        font-size: 24px;
    }

    #center {
        width: 80%;
        margin: 0 auto;
    }
}
